<div class="container">

<center><h2>Edit your detail</h2></center>
<br>
<form method="post" action="/editdetail">

  <div class="container">
    <input id="hidden" type="hidden" name="_method" value="put">
    <label><b>First Name</b></label>
    <input type="text" name="fname" value="<%= @user.fname %>" required>

    <label><b>Last Name</b></label>
    <input type="text" name="lname" value="<%= @user.lname %>" required>

    <label><b>Username</b></label>
    <input type="text" name="username" value="<%= @user.username %>" required>

    <label><b>Password</b></label>
    <input type="text" name="password" value="<%= @user.password %>" required>

    <label><b>Age</b></label>
    <input type="text" name="age" value="<%= @user.age %>" required>
    
    <div class="clearfix">

     
      <div class = "container">
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <a href="deleteuser"><button type="button" class="btn btn-danger">Delete User</button></a>
          </div>
          <div class="col-6">
            <a href="home"><button type="button" class="btn btn-warning">Your Profile</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

</div>